@CHARSET "UTF-8";
body{
	margin: 0;
}
a{
	text-decoration: none;
}
header
{
	display:block;
	height: 64px;
	top: 0;
    left: 0;
    right: 0;
    z-index: 72;}
ul,li{list-style: none;}
header .content{
	display: flex;
    height: 100%;
}
header .banner{
	display: flex;
    align-items: center;
    justify-content: center;
}
header .navbar-menu{
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}
header .navbar-left{
	float:left;
	display: flex;
    height: 100%;
}
header .navbar-right{
	float:right;
	display: flex;
    height: 100%;
}
header .navbar-link{
	color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 20px 12px;
    position: relative;
}
header .navbar-item{
	color: #4a4a4a;
    display: block;
    line-height: 1.5;
    position: relative;
}

header .navbar-dropdown{
	left:0;
	top:48px;
	position:absolute;
	display:none;
	padding:0;
	width: 180px;
    height: 410px; /*사이즈 지정   */ 
    border-radius: 0;
    box-shadow: 8px 5px 8px 1px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1);
}
header .step2,header .step3{
	position:absolute;
	top:0;
	left: 180px;
}


header .navbar-item:HOVER>ul{/* 1차 hover 시 보이게  */
	display: block;
}
header li:HOVER>ul{/*2차 3차  보이게  */
	display: block;
}
header .content{
	width: 60%;
	margin:0 auto;
}
header .navbar{
	box-shadow: 0 2px 4px 0 hsla(0,0%,80.8%,.5);
    min-height: unset;
    height: 64px;
}
header .navbar-item:HOVER {
	background-color: #e7e7e7;
}
header .navbar-item:HOVER>a,header .navbar-item:HOVER{
	color:hotpink;
}
header .button{
	color: white;
    background-color: crimson !important;
    border-radius: 10px;
    font-weight: bold;
    padding:10px;
}
header .bold{font-weight: bold;}

body {
  font-family: Helvetica,"Apple SD Gothic Neo",sans-serif;
}
   header .below:after{
    position: absolute;
    top: 35%;
    border: 3px solid transparent;
    border-color: black;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    right: 15px;
    box-sizing: inherit;
    
    }
header .below{
	padding-right:40px; 
}
