@CHARSET "UTF-8";
#main{
	min-height: 800px;
}
#main .carousel_container{
	display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1040px;
    height: 470px;
    min-height: 470px;
    width: 1040px;
    padding: 75px 20px;
    position: relative;
}
#main pre_course_card{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    min-height: calc(100vh - 145px);
}
#main .content.left{
	flex: 0.468;
}
#main .content.right{
	flex: 0.532;
}
#main .slogan{
	line-height: 1;
    font-size: 28px;
    color: #333;
    margin: 5px 0px;
}
.bold{
	font-weight: bold;
}
#main .wrap_svg{
	position: absolute;
    top: 100px;
    display: block;
    right: 727px;
}
.content>button{
	padding: 0;
    border: 0;
    background-color: white;
    text-decoration: underline;
    font-size: 1em;
}