@CHARSET "UTF-8";

#overlay2{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: black;
    height: 100%;
    opacity: 0.3;
    z-index: 80;
}
#right-nav_menu{
	
	width: 300px;
    height: 100%;
    position: fixed;
    right: -300px;
    z-index: 99;
    background-color: white;
     transition: right 0.5s;
}