@CHARSET "UTF-8";
/* 보드 템플릿 */
@media print,screen and (max-width: 1250px) {
   /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
	.content_side{
	display: none;
	}
}
@media print,screen and (max-width: 1000px) {
   /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
	.community_content aside{
	display: none !important;}
}
.container>h2{
	font-size:2em;
	margin: 0;
}
.container>p{
	margin: 0;
}
.container{
	width:100%;
	max-width: 1180px;
	margin: 12px auto;
}
.community_header{
	background-color: #333b3d;
    color: white;
    padding: 3px;
}



.community_content{
	width:100%;
	max-width:1180px;
	margin: 0 auto;
	min-height: 500px;
	display: flex;
}
.community_content aside{
	float: left;
    width: 17%;
    min-height: 700px;
    display: flex;
    flex: 2;
}

.side_container a{
	color: black;
}
.side_container li{
	padding: 6px 0px;
}
.side_container{
	box-sizing: border-box;
    padding: 8px;
}
.small_tag{
	font-size: 10px;
    color: #86898c;
}
/* 보드 템플릿  끝*/

.columns{
	float: left;
    display: flex;
    flex: 8;
    box-sizing: border-box;
}
.main_content{
/* 	float: left; */
	display:block;
    width: 76%;
    box-sizing: border-box;
    padding: 15px 0px;
    flex:1;
}

.notice_content{
/* 	border: 1px red solid; */
	width: 70%;
	min-height: 500px;
	padding: 2em;
	display: inline-block;
	border-bottom: 1px solid #929292;

}

.content_side{
	border:1px #929292 solid;
	width: 18%;
    float: right;
    min-height: 500px;
    padding: 1em;
/* 	display:inline-block; */   
/*     box-sizing: border-box; */
}

.content_side h4{
	color: #929292;
/* 	margin: 0; */
	
}
.content_side ul{
	padding: 0;
	list-style: none;
}

.N{
	font-size: x-large;
    font-weight: 600;
	color: #00c471;
}
.post_title{
	font-size: 24px;
	font-weight: 400;
}
.main_content a{
	color: #000000;
}

.post_metas{
	font-size: small;
	
}

hr{
	border-width: 0.5;
	
}

.main_content h1{
	display: block;
	font-size: 28px;
	font-weight: 400;
}